.App {
  text-align: center;
  height: 100%;
  margin: 0;
}
.not-footer {
  min-height: 100%;
}
.not-footer-content {
  padding-bottom: 3em;
}
html {
  background-color: #22252E;
  color: #FED;
  font-family: Verdana,sans-serif;
  min-height: 100%;
}
body {
  height: 100%;
}

.App-header {
  height: 4%;
  padding: 1%;
  text-align: left;
  margin-left: 60%;
}

.App-title {
  font-size: 1.5em;
}
