.player-back-button {
    text-align: left;
}
.back-button-visible {
    display: inline-block;
    opacity: .9;
    transition: opacity .3s;

    position: absolute;
    top: 5%;
    left: 5%;
    text-align: left;
    cursor: default;
    z-index: 7;

    background-color: transparent;
}
.back-button-invisible {
    display: inline-block;
    opacity: 0;
    transition: opacity .3s;

    position: absolute;
    top: 5%;
    left: 5%;
    text-align: left;
    cursor: default;
}
.back-button-text {
    font-size: 2em;
    cursor: default;
}
